<p>Item description</p>
<P><%= image_tag url_for(@items.image), width: "200px" %></p>
<p><%= form_tag(cart_path, method: "post") do %>
  <%= hidden_field_tag "item_id", @items.id %>
  <select name="number">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
    </select>
<%= submit_tag "カートに入れる" %>
<% end %>
</p>
<%= @items.description %>
